*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------------------NAVBAR SUPERIOR -------------------------------------*/
.NavArriba{
    background-color: aqua;
    width: 100%;
    height: 50px;
}