
.seccion-principal{
    display: flex;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease;
}

  /*------------------------ SECCION PRINCIPAL CENTRAL---------------*/
  
.central-opciones {
    height: auto;
    width: 64vw;

  }
.seccion-general {
    margin: 30px;
    width: 80%;
    height: auto;
    background-color: #F4F7F7;
    transition: background-color 0.3s ease;
    margin-top: 90px;
    margin-left: 24vw;
  }
.compartido-post{
  margin-right: 20px;
}
.feed_title-compartido2{
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.feed_title-compartido{
  display: flex;
  flex-direction: column;
}

  .right_row {width: 49%;margin: 0px auto;}
.publish {width: 100%;border-top: 5px solid #009580;box-shadow: 3px 4px 5px rgba(209, 209, 209, 0.5);}
.publish_textarea {width: 100%;display: flex;align-items:center;}
.publish_textarea img {width:40px;height:40px;margin: 20px;}
.publish_textarea textarea {width:95.2%;height:70px;border:none;padding:20px;}
.publish_icons {border-top: 1px solid #e6ecf5;width: 100%;margin-top:20px;display: flex;align-items:center;}
.publish_icons ul {width: 75%;margin-left: 20px;}
.publish_icons li {height: 50px;display: inline-block;width: 50px;font-size: 19px;line-height: 2.5;cursor: pointer;font-size: 16px;line-height: 3;text-align: center;}
.publish_icons ul li:hover {background-color: #009580;color: white;}
.publish_icons button {border:none;cursor: pointer;padding: .8rem 2.1rem;font-size: .700rem;color: #fff;background-color: #4EB7D1;border-radius: .3rem;}
.publish_icons button:hover {background-color: #8fcddd;}

  

  @media screen and (max-width: 1406px) {
    .lateral-derecha{
      display: none;
    }
    .central-opciones{
      width: 75vw;
    }
    .seccion-general{
      width: 100%;
    }
  }

  @media screen and (max-width: 1268px) {

    .central-opciones{
      width: 100vw;
      display: flex ;
      justify-content: center;
      align-items: center;
    }
    .seccion-general{
      width: 80%;
      margin:90px 0; 
    }
  }
  
  @media screen and (max-width: 1268px) {
    .superior-input{
      display: none;
    }



  }
  @media screen and (max-width: 655px) {
    .publish{
      width: 100%;
    }
    .row{
      width: 100%;
    }
    .feed_footer_left li span{
      display: none;

    }



  }
  .hover-orange:hover {color: #009580;}
.selected-orange {color: #009580;}


  .feed {width: 100%;}
.feed_title {padding: 20px;border-bottom: 1px solid #e6ecf5;letter-spacing: 1px;display: flex;align-items:center;}
.feed_title img {height: 40px;width:40px;border-radius: 200px;margin: 0px 10px;}
.feed_title span {font-size: .875rem;}
.feed_title span a {color: #009580;}
.feed_title a b{color: #3F4257;}
.feed_title a b:hover{color: #a4e0d8;}
.feed_title span p {font-size: .675rem;}
.feed_content_image {width: 95%;margin: 10px auto;display: block; line-height: 1.5;}
.feed_content_image img {width: 100%;}
.feed_content_image iframe {width: 100%;height: 300px;}
.feed_content_image p {padding: 10px;padding-top: 5px}
.feed_footer { height: 50px;border-top: 1px solid #e6ecf5;display: flex; justify-content: space-between; align-items: center;}
.feed_footer_left {margin-left: 20px; display: flex; flex-direction: row;}
.feed_footer_left li {cursor: pointer;font-size: 14px;margin-left: 10px}
.feed_footer_left li span {font-size: 10px;}
.feed_footer_left li i {font-size: 16px;}
.feed_footer_right {text-align: right;}
.feed_footer_right div{
  display: flex;
}
.feed_footer_right li {cursor: pointer;font-size: 12px;text-align: center;margin-right: 10px;}
.feed_footer_right li i {font-size: 16px;padding-right: 5px}