.login_superior{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 50px;
}
.login_logo{
    width: 150px;  
}
.login_superior_buttons{
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding-right: 15px;
}
.login_superior_button1{
    border: none;
    background-color: #F4F7F7;
    padding: 15px 20px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #F4F7F7;
}
.login_superior_button2{
    border: none;
    background-color: #ffffff;
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #ECEAEE;
    cursor: pointer;
}
.login_superior_button1:hover{
    background-color: #4EB7D1;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #ECEAEE;
    color: #ffffff;
    transition: 0.3s;
}
.login-centro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 15%;
    flex-direction: row-reverse;
    
}
.login-centro-section1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
}
.login-centro-section1 h2{
    font-family: 'Poppins', sans-serif;
     font-size: 28px; 
    color: #202020;
   font-weight: 700;
}
.login-centro-section2 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    color: #202020;
    font-weight: 700;
}

.login-centro-section1-img{
    width: 100px;
}
.login-centro-section1-div{
    display: flex;
    font-weight: bold;
    gap: 20px;
}
.login-centro-section2{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    gap: 30px;
    width: 400px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.09);
}
.login-centro-section2 form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.login-centro-section2 form input{
    border: 1px solid #b5b4b6;
    border-radius: 8px;
    padding: 10px  40px;
    font-size: 13px;
    width: 100%;
}
.login-centro-section2-Oc{
    display: flex;
    justify-content: center;

}
.login-centro-section2 form input:focus{
    outline: none;
}
.img-form {
    position: relative;
    width: 80%;
  }
  

  .toggle-password {
    position: absolute;
    right: 20px; /* Ajusta la posición del icono a la derecha */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
  }
  
  /* Agrega estilos adicionales al icono para que se vea mejor */
  .toggle-password:hover {
    opacity: 0.7; /* Reduce la opacidad del icono cuando se pasa el mouse sobre él */
  }
.mail-password{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 10px;
}
.login-centro-section2 form button{
    background-color: #009580;
    border: none;
    border-radius: 8px;
    padding: 15px  20px;
    font-size: 13px;
    width: 40%;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.login-centro-section2 form button:hover{
    background-color: #2cb9a7;

}